{% extends 'base.html' %}
{% load static %}
{% block title %}  {{ setting.title}}  {% endblock %}
{% block keywords %}   {{ setting.keywords}}  {% endblock %}


{% block content %}


		<div class="w3l_banner_nav_right">
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="w3l_banner_nav_right_banner">
								<h3>Make your <span>food</span> with Spicy.</h3>
								<div class="more">
									<a href="category.html" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
								</div>
							</div>
						</li>
						<li>
							<div class="w3l_banner_nav_right_banner1">
								<h3>Make your <span>food</span> with Spicy.</h3>
								<div class="more">
									<a href="category.html" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
								</div>
							</div>
						</li>
						<li>
							<div class="w3l_banner_nav_right_banner2">
								<h3>upto <i>50%</i> off.</h3>
								<div class="more">
									<a href="category.html" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
			<!-- flexSlider -->
				<link rel="stylesheet" href="{% static 'website/css/flexslider.css' %}" type="text/css" media="screen" property="" />
				<script defer src="{% static 'website/js/jquery.flexslider.js' %}"></script>
				<script type="text/javascript">
				$(window).load(function(){
				  $('.flexslider').flexslider({
					animation: "slide",
					start: function(slider){
					  $('body').removeClass('loading');
					}
				  });
				});
			  </script>
			<!-- //flexSlider -->
		</div>
		<div class="clearfix"></div>
	</div>
<!--&lt;!&ndash; banner &ndash;&gt;-->
<!--	<div class="banner_bottom">-->
<!--			<div class="wthree_banner_bottom_left_grid_sub">-->
<!--			</div>-->
<!--			<div class="wthree_banner_bottom_left_grid_sub1">-->
<!--				<div class="col-md-4 wthree_banner_bottom_left">-->
<!--					<div class="wthree_banner_bottom_left_grid">-->
<!--						<img src="{% static 'website/images/4.jpg' %}" alt=" " class="img-responsive" />-->
<!--						<div class="wthree_banner_bottom_left_grid_pos">-->
<!--							<h4>Discount Offer <span>25%</span></h4>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-md-4 wthree_banner_bottom_left">-->
<!--					<div class="wthree_banner_bottom_left_grid">-->
<!--						<img src="{% static 'website/images/5.jpg' %}" alt=" " class="img-responsive" />-->
<!--						<div class="wthree_banner_btm_pos">-->
<!--							<h3>introducing <span>best store</span> for <i>groceries</i></h3>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="col-md-4 wthree_banner_bottom_left">-->
<!--					<div class="wthree_banner_bottom_left_grid">-->
<!--						<img src="{% static 'website/images/6.jpg' %}" alt=" " class="img-responsive" />-->
<!--						<div class="wthree_banner_btm_pos1">-->
<!--							<h3>Save <span>Upto</span> $10</h3>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class="clearfix"> </div>-->
<!--			</div>-->
<!--			<div class="clearfix"> </div>-->
<!--	</div>-->
<!-- top-brands -->
	<div class="top-brands">
		<div class="container">
			<h3>Hot Offers</h3>
			<div class="agile_top_brands_grids">
				 {% for rs in products %}
				<div class="col-md-3 top_brand_left">
					<div class="hover14 column">
						<div class="agile_top_brand_left_grid">
							<div class="tag"><img src="{% static 'website/images/tag.png' %}" alt=" " class="img-responsive" /></div>
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block" >
										<div class="snipcart-thumb">
											<a href="/product/{{ rs.id }}/{{ rs.slug }}"><img title=" " alt=" " src="{{rs.image.url}}" /></a>
                                            <a href="/product/{{ rs.id }}/{{ rs.slug }}"><p>{{ rs.title }}l</p></a>
											<h4>${{ rs.price }} <span></span></h4>
										</div>
										<div class="snipcart-details top_brand_home_details">
											<form action="/product/{{ rs.id }}/{{ rs.slug }}" method="post">
                                                {% csrf_token %}
												<fieldset>
													<input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name" value="Fortune Sunflower Oil" />
													<input type="hidden" name="amount" value="7.99" />
													<input type="hidden" name="discount_amount" value="1.00" />
													<input type="hidden" name="currency_code" value="USD" />
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " />
													<input type="submit"  value="Select Options" class="button" />
												</fieldset>
													
											</form>
									
										</div>
									</div>
								</figure>
							</div>
						</div>
					</div>
				</div>
				  {% endfor %}

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //top-brands -->
<!-- fresh-vegetables -->
	<div class="fresh-vegetables">
		<div class="container">
			<h3>Top Products</h3>
			<div class="w3l_fresh_vegetables_grids">
				<div class="col-md-3 w3l_fresh_vegetables_grid w3l_fresh_vegetables_grid_left">
					<div class="w3l_fresh_vegetables_grid2">
						{% load mptt_tags %}
						<ul>
							{% recursetree category %}
							<li><i class="fa fa-check" aria-hidden="true"></i><a href="/category/{{node.id }}/{{ node.slug }}">{{ node.title }}</a></li>
 {% endrecursetree %}
						</ul>
					</div>
				</div>
				<div class="col-md-9 w3l_fresh_vegetables_grid_right">
					<div class="col-md-4 w3l_fresh_vegetables_grid">
						<div class="w3l_fresh_vegetables_grid1">
							<img src="{% static 'website/images/ban1.png' %}" alt=" " class="img-responsive" />
						</div>
					</div>
					<div class="col-md-4 w3l_fresh_vegetables_grid">
						<div class="w3l_fresh_vegetables_grid1">
							<div class="w3l_fresh_vegetables_grid1_rel">
								<img src="{% static 'website/images/ban2.png' %}" alt=" " class="img-responsive" />
								<div class="w3l_fresh_vegetables_grid1_rel_pos">
									<div class="more m1">
										<a href="category.html" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
									</div>
								</div>
							</div>
						</div>
						<div class="w3l_fresh_vegetables_grid1_bottom">
							<img src="{% static 'website/images/ban3.png' %}" alt=" " class="img-responsive" />
							<div class="w3l_fresh_vegetables_grid1_bottom_pos">
								<h5>Special Offers</h5>
							</div>
						</div>
					</div>
					<div class="col-md-4 w3l_fresh_vegetables_grid">
						<div class="w3l_fresh_vegetables_grid1">
							<img src="{% static 'website/images/ban4.png' %}" alt=" " class="img-responsive" />
						</div>
						<div class="w3l_fresh_vegetables_grid1_bottom">
							<img src="{% static 'website/images/ban5.png' %}" alt=" " class="img-responsive" />
						</div>
					</div>
					<div class="clearfix"> </div>
					<div class="agileinfo_move_text">
						<div class="agileinfo_marquee">
							<h4>get <span class="blink_me">25% off</span> on first order and also get gift voucher</h4>
						</div>
						<div class="agileinfo_breaking_news">
							<span> </span>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //fresh-vegetables -->
<!-- newsletter -->
	<div class="newsletter">
		<div class="container">
			<div class="w3agile_newsletter_left">
				<h3>sign up for our newsletter</h3>
			</div>
			<div class="w3agile_newsletter_right">
				<form action="#" method="post">  
                    {% csrf_token %}
                    
					<input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
					<input type="submit" value="subscribe now">
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //newsletter -->


 {% endblock %}